body {
    background-color: #DEDBD2;
    color:#4A5759;
    margin: 0%;
}

header{
    display: flex;
    /* width: 100%;
    min-width: 19.792vw; */
}

h1 {
    color: #4A5759;
    font-size: 40pt;
    padding-left: 1.042vw;
    margin: 0;
}

h1 a {
    text-decoration: none;
    color: inherit;
}

.links{
    padding-top: 0.781vw;
    display: flex;
    justify-content: center;
}

.links li {
    list-style: none;
    margin: 0 0.781vw;
    display: inline-block;
}

.links a {
    text-decoration: none;
    color: #4A5759;
    font-weight: bold;
    margin: 0 0.417vw;  /*8px */
}

.links a:hover {
    text-decoration: underline;
}

.navbar {
    background-color: #B0C4B1;
    padding: 1.042vw;
}

.links ul {
    display: block;
    margin-block-start: 0.833vw;
    margin-block-end: 0.833vw;
    margin: 0;
    padding-inline-start: 3.125vw;
    font-size: 25pt;    
}


.container {
    width: 100%;
    min-width: 19.792vw;
    min-height: 100vh; /* container fills the viewport */
    display: inline-block;
    margin: 0 auto; /* centers the container */
}

.section {   /*section for the images so they wrap when window resizes*/
    display: flex;
    background-color: #EDAFB890; /* semi-transparent background */
    flex-direction: row;
    flex-wrap: wrap;
    gap: 30px; /* space between items */
    align-items: center; /* centers items vertically */
    justify-content: center; /* centers items horizontally */
    padding: 1.082vw;
    /* width: 100%;
    min-width: 19.792vw; */
}

.photo{ /*images in the section*/
    display: inline-block;
    justify-content: space-around;
    max-width: 21.875vw;
    height: auto;
    flex-basis: 100%;
    border-radius: 8px;
}

.credits-pg1{
    /* font-size: 15pt; */
    font-size: 1.042vw;
}

.photo:hover{
    transform: scale(1.04);
    transition: transform 0.2s ease-in-out;
}


/* intro text  for all h2 and p styling*/
h2 {
    font-size: 25px;
    color: #4A5759;
    text-align: center;
    margin: 10px 0;
}

p {
    font-size: 20px;
    color: #4A5759;
    text-align: center;
    margin: 10px 0px;
}

/* welcome text */
.introduction-text {
    padding: 0.875vw;
    background-color: #F7E1D7;
    border-radius: 8px;
    margin: 20px 50px 10px 50px; /* top, right, bottom, left */
    
}
.column{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 20px;
    gap: 20px;
}

.purpose{
    background-color: #B0C4B1;
    border-radius: 8px;
    padding: 0.521vw;
    width: 50%;
    flex: 50%;
}

.purpose h2{
    font-size: 30px;
    margin: 10px;
}
.purpose p{
    padding: 0.842vw;
    margin: auto;
}

.contact{ /* contact*/
    align-items: self-end;
    background-color:#EDAFB8;
    border-radius: 8px;
    padding: 10px;
    flex: 70%;
    width: 100%;
}



/*  might remove cause look kind of weird
.rice{ 
    padding: 0.875vw;
    background-color: #F7E1D7;
    border-radius: 8px;
    margin: 20px 50px 10px 50px; 

}
.rice p{
    padding:8px;
}

.rice a{
    text-decoration: none;
    color: #4A5759;
}

.rice a:hover{
    text-decoration: underline;
} */


/* gallery page */

.gallery-container {
    width: 100%;
    min-width: 19.792vw;
    min-height: 100vh; /* container fills the viewport */
    display: inline-block;
    margin: 0 auto; /* centers the container */
}

.chinese1{
    background-color:#EDAFB8;
    padding: 0.875vw;
    border-radius: 8px;
    margin: 0.842vw;
}

.gallery-title {
    font-size: 25px;
    color: #4A5759;
    text-align: center;
    margin: 10px 0;
}


.text1{
    display: flex;
    background-color:#F7E1D790;
    border-radius: 8px;
    padding: 5px;
    margin: 20px 50px;
}

/* .pg2{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center; 
    justify-content: space-evenly;
    gap: 20px;
    margin-bottom: 20px;
} */

.pg2 {   /*pg2 gallery*/
    display: flex;
    background-color: #B0C4B190; /* semi-transparent background */
    flex-direction: row;
    flex-wrap: wrap;
    gap: 20px; /* space between items */
    align-items: center; /* centers items vertically */
    justify-content: center; /* centers items horizontally */
    padding: 1.082vw;
    /* width: 100%;
    min-width: 19.792vw; */
}


.gallery-item{
    display: inline-block;
    justify-content: space-around;
    max-width: 21.875vw;
    height: auto;
    flex-basis: 100%;
    border-radius: 8px;
}

.gallery-item:hover{
    transform: scale(1.05);
    transition: transform 0.2s ease-in-out;
}













/* recipe page */
.recipe-container{
    width: 100%;
    min-width: 19.792vw;
    min-height: 100vh; /* container fills the viewport */
    display: inline-block;
    margin: 0 auto; /* centers the container */
}

.recipe-name{
    display: flex;
    grid-column: 2 / 3; /* MIDDLE COLUMN */
    grid-row: 1/2; /* TOP ROW */
    background-color:#B0C4B1;
     margin: 10px;
    border-radius: 8px;
}

.recipe-image{
    display: flex;
   
    background-color:#EDAFB8;
    margin: 10px;
    border-radius: 8px;
}

/* fried rice video */
.video-1{
    display: flex;
    
}


/* ingredients div and contents styling */
.ingredients{
    display: flex;
    
    margin: 10px;
    border-radius: 8px;
    background-color: #F7E1D7;
}

.ingredients-title{
    padding: 8px;
    font-size: 24px;
    margin: 0;
    padding-top: 20px;
    padding-left: 15px;
}

.one{
    display: flex;
   
    padding: 22px;
    padding: 20px 20px 25px 25px ;   /*top, right, bottom, and left*/
}

.important-info{
    margin: 10px;
    border-radius: 8px;
    display: flex;
  
    background-color: #F7E1D7;
}



/* Footer */
footer {
    background-color: #B0C4B1;
    padding: 20px;
    text-align: center;
    /* width: 100%;
    min-width: 19.792vw; */
    color: #0C1D13;
    /* font-family: 'Italiana', serif; */
    position: relative; /* allows footer to be at the bottom */
    bottom: 0; /* sticks to the bottom */
    
}


/* .credits2{
    display: flex;
    flex-direction: column;
    grid-column: 1/4;
    grid-row: 4/5;
    background-color: #B0C4B1;
} */





/* 
#EDAFB8- dark pink
#F7E1D7- peach
#DEDBD2- concrete
#B0C4B1- light green
#4A5759- dark green
#0C1D13- dark green text */
