nav {
    background-color: #B0C4B1;
    color: #0C1D13;
    justify-content: space-around;
    align-items: center;
    display: flex;
    font-family: 'Italiana';
}

body {
    background-color: #DEDBD2;
    color: #0C1D13;
    font-family: 'Italiana';
    margin: 0;
    padding: 0;
}

.heading{
    color: #0C1D13;
    font-family: 'Italiana';
    font-size: 2.5em;
    text-align: center;
}
nav-links {
    color: #0C1D13;
    font-family: 'Italiana';
    justify-content: space-around;
    width: 30%;
}
.nav li{
    list-style: none;
    display: inline;
    margin: 0 15px;
}

.topnav a {
    text-decoration: none;
    color: #0C1D13;
    text-align: center;
    float: left;
    font-size: 17px;
    padding: 14px 16px;
    font-family: 'Italiana';
}



footer {
    background-color: #B0C4B1;
    color: #0C1D13;
    font-family: 'Italiana';
    text-align: center;
    padding: 10px;
}








/*#EDAFB8- dark pink
#F7E1D7-peach
#DEDBD2- concrete
#B0C4B1- light green
#4A57590 dark green`
#0C1D13
*/

/* main-container {
    background-color: #B0C4B1;
    color: #0C1D13;
    font-family: 'Italiana';
}
body {
    background-color: #DEDBD2;
    color: #0C1D13;
    font-family: 'Italiana';
} */
