header {
    background-color: #B0C4B1;
    color: #0C1D13;
    font-family: 'Italiana';
}	








/*#EDAFB8- dark pink
#F7E1D7-peach
#DEDBD2- concrete
#B0C4B1- light green
#4A57590 dark green`
#0C1D13
*/

/* main-container {
    background-color: #B0C4B1;
    color: #0C1D13;
    font-family: 'Italiana';
}
body {
    background-color: #DEDBD2;
    color: #0C1D13;
    font-family: 'Italiana';
} */